<h2 class="content-subhead">Search</h2>

<form action="/search" method="get">
  <input name="query" value="<%= params[:query] %>">
  <button type="submit">Search</button>
</form>

<% if @search && !@matches.all? { |hash| hash.empty? } %>
	<h2>Results for <%= @search %></h2>
	
	<% @matches.each_with_index do |hash, index| %>
		<% next if hash.empty? %>
		<% hash.each do |id, paragraph| %>
		<ul>
			<li><a href = "/chapters/<%= index + 1 %>#<%= id %>"><%= @contents[index] %></a></li>
			<ul>
				<br>
				<li> <%= paragraph %></li>
				</ul>
			</ul>
		<% end %>	
	<% end %>	
	<% elsif @matches == [] && @search %>
		<p>Sorry, no matches were found</p>
<% end %>
